<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Corona Virus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" 
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body class="bg-dark" >
  <div class="container bg-secondary"> 
 <h1>Corona Virus Tracker Application</h1> 
    
  <div class="jumbotron bg-danger">
  <h1 class="display-4" th:text="${totalreportedCases}" ></h1>
  <p class="lead">Total cases reported as of today</p>
  	 <hr class="my-4">
  <h1 class="display-4" th:text="${totalreportedCasesToday}" ></h1>	 
  <p class="lead">Additional cases today</p>
</div> 
        <table class ="table">
      <tr>
        <th>States</th>
        <th>Country</th>
        <th>Total cases reported</th>
        <th>Increase from Yesterday</th>
      </tr>
      <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.country}"></td>
        <td th:text="${locationStat.latestTotalReport}">0</td>
        <td th:text="${locationStat.differenceFromPrevDay}">0</td>
        
        
        </div> 
  </body>

</html>